@{
  Layout = "_Layout";
}

@using RecipeBox.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    <span>: </span>
    @Html.TextBoxFor(user=> user.Email)
    <br>
    <br>
    @Html.LabelFor(user=> user.Password)
    <span>: </span>
    @Html.PasswordFor(user=> user.Password)
    <br>
    <br>
    @Html.LabelFor(user=> user.ConfirmPassword)
    <span>: </span>
    @Html.PasswordFor(user=> user.ConfirmPassword)
    <br>
    <br>
    <input type="submit" value="Register" class="btn btn-default"/>
}
<br>
<p>@Html.ActionLink("Log in Returning Users", "Login")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>